<section id="mainnavbar">
    <div class=" navbar-fixed">
        <nav class="shadow-none">
            <div class="nav-wrapper px-2">
                <div class="row">
                    <div class="col-1 my-auto hide-on-large-only">
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                    </div>
                    <div class="col-lg-3 col-9">
                        <a href="#" class="brand-logo text-decoration-none">
                            <img height="120" title="Eon Bridge" width="120" src="~/Assets/Images/websitelogocurrent.png" />
                        </a>
                    </div>
                    <div class="col-lg-7 my-auto hide-on-med-and-down">
                        <ul id="nav-mobile" class="left">
                            <li><a href="#mainnavbar"><i class="material-icons left">home</i>Home</a></li>
                            <li><a href="#services"><i class="material-icons left">business_center</i>Services</a></li>
                            <li><a href="#contactform"><i class="material-icons left">local_phone</i>Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-2 col-lg-2 my-auto">
                        <div class="switch right">
                            <label title="Switch Light/Dark Modes">
                                <input id="themeToggleButton" type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
   
<ul class="sidenav background" id="mobile-demo">
    <li><a href="#mainnavbar"><i class="material-icons left">home</i>Home</a></li>
    <li><a href="#services"><i class="material-icons left">business_center</i>Services</a></li>
    <li><a href="#contactform"><i class="material-icons left">local_phone</i>Contact</a></li>
</ul>
</section>
