<div class="divider"></div>
<div class="row">
    <div class="col-12">
        <h5 class="sectionmainheader center-align">
            Our Services
        </h5>
    </div>
</div>
<section class="section" id="services">
    <div class="row">
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       
        <div class="col-sm-4">          
            <div class="card rounded hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Assets/Images/serviceimg1.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator">Inventory Management Portal</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><span class="border-bottom border-2 rounded-bottom border-danger">Inventory Management</span><i class="material-icons right">close</i></span><br />
                    <p>Track your daily turnover and available stock productwise to keep you updated with the demand and supply of products. </p>
                </div>
            </div>
        </div> 
       

    </div>
</section>