
<section class="section">
   
    <div class="hero">
        <div class="hero-text">
            <h1>Unlock Your Online Potential</h1>
            <p>With Tailor-Made Web Design and Development Solutions<br />of --EON BRIDGE</p>
            <a href="#modal1" id="socialbutton" class="waves-effect mb-3 cta-button waves-light modal-trigger">CONTACT US</a>
            <br />
            <a class="text-decoration-underline" href="#services">Go to our services<i class="material-icons left">arrow_downward</i></a>

        </div>

        <div class="hero-image">
            <img src="~/Assets/Images/heroimage.jpg" />

        </div>
    </div>
</section>
@Html.Partial("~/Views/Shared/PartialViews/_socialIcons.cshtml")
